Django
django-extensions
django-sizefield
django-annoying
django-celery
sxclient>=0.18.1
PyYAML
whisper
python-dateutil
s3import>=0.6.4
enum34
djangorestframework
djangorestframework-jwt
drf-nested-routers
django-rest-swagger<2
django-tz-detect
unicode-slugify
Unidecode
boto
futures
django-choices
redis
