{% load i18n %}

<nav class="pagination-nav">
    <ul class="pagination">
        {% if page.has_other_pages %}

        {% if page.has_previous %}
            <li>
                <a href="?page=1">
                    {% trans "First" %}
                </a>
            </li>
            <li>
                <a href="?page={{ page.previous_page_number }}">
                    <span class="fa fa-angle-left"></span>
                    {% trans "Previous" %}
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">
                    {% trans "First" %}
                </a>
            </li>
            <li class="disabled">
                <a href="#">
                    <span class="fa fa-angle-left"></span>
                    {% trans "Previous" %}
                </a>
            </li>
        {% endif %}

        {% for p in page_range %}
            {% if p == page.number %}
                <li class="disabled">
                    <a href="#">{{ p }}</a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <li>
                <a href="?page={{ page.next_page_number }}" class="styled-button">
                    {% trans "Next" %}
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
            <li>
                <a href="?page={{ page.paginator.num_pages }}" class="styled-button">
                    {% trans "Last" %}
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#">
                    {% trans "Next" %}
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
            <li class="disabled">
                <a href="#">
                    {% trans "Last" %}
                </a>
            </li>
        {% endif %}

        {% endif %}
    </ul>
</nav>
